<form fxLayout="column" fxLayoutAlign="start" [formGroup]="form">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start top" fxFlex="1 0 auto" class="mt-4">
        <!-- <div fxLayout="column" fxFlex="1 0 auto"> -->
        <!-- <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxFlex="1 0 auto" class="p-24"> -->
        <section fxFlex="20" fxFlex.xs="100" class="mb-4">
            <mat-slide-toggle formControlName=reference>
                Ft1
            </mat-slide-toggle>
        </section>
        <section fxFlex="20" fxFlex.xs="100" class="mb-4">
            <mat-slide-toggle formControlName=reference>
                Ft2
            </mat-slide-toggle>
        </section>
        <section fxFlex="20" fxFlex.xs="100" class="mb-4">
            <mat-slide-toggle formControlName=reference>
                Ft3
            </mat-slide-toggle>
        </section>
        <section fxFlex="20" fxFlex.xs="100" class="mb-4">
            <mat-slide-toggle formControlName=reference>
                Ft4
            </mat-slide-toggle>
        </section>
        <section fxFlex="20" fxFlex.xs="100" class="mb-4">
            <mat-slide-toggle formControlName=reference>
                Ft4
            </mat-slide-toggle>
        </section>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</form>