<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">



                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <!-- <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'"> -->
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">

                    <div class="h2">
                        New property
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Property Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <button mat-raised-button class="save-product-button" [disabled]="propertiesForm.invalid" (click)="addProduct()">
                <span>ADD</span>
            </button> -->

            <button mat-raised-button class="save-product-button" [disabled]="propertiesForm.invalid || propertiesForm.pristine" (click)="saveProduct()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">


                <mat-tab-group>

                    <mat-tab label="Basic Info">
                        <app-properties-basic-info [form]="propertiesForm"></app-properties-basic-info>
                    </mat-tab>

                    <mat-tab label="Characteristics">
                        <app-properties-characteristics [form]="propertiesForm"></app-properties-characteristics>
                    </mat-tab>

                    <mat-tab label="Features">
                        <app-properties-features [form]="propertiesForm"></app-properties-features>
                    </mat-tab>

                    <mat-tab label="Sale">
                        <app-properties-sales [form]="propertiesForm"></app-properties-sales>
                    </mat-tab>

                    <mat-tab label="Private info">
                        <app-properties-private-info [form]="propertiesForm"></app-properties-private-info>
                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>