<form fxLayout="column" fxLayoutAlign="start" [formGroup]="form">
    <div class="mt-4" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start top" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="25" class="px-4">
            <mat-label>Fiscal Name</mat-label>
            <input placeholder="Fiscal Name" matInput formControlName="country_code">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="px-4">
            <mat-label>Commercial Name</mat-label>
            <input placeholder="Commercial Name" matInput formControlName="country_code">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="px-4">
            <mat-label>Status</mat-label>
            <input placeholder="Fiscal Name" matInput formControlName="country_code">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="25" class="px-4">
            <mat-label>Creation Type</mat-label>
            <input placeholder="Fiscal Name" matInput formControlName="country_code">
        </mat-form-field>
    </div>
</form>